body {
  font: 16px/1.42 "roboto", Arial, Helvetica, sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

h3, p, time {
  position: relative;
  display: block;
}

ul li{
  list-style: none;
}

.header {
  background: #4c73b6;
  color: #fff;
  margin-bottom: 13px;
}

.container, .topnav {
  width: 1100px;
  margin: 0 auto;
}

.header__container {
  position: relative;
  min-height: 77px;
}

.header__logo {
  position: absolute;
  top: 21px;
  left: 21px;
  font-size: 0;
}

.contacts {
  position: absolute;
  top: 16px;
  right: 21px;
  text-align: right;
  font-style: normal;
}

.contacts__phone {
  color: inherit;
  text-decoration: none;
  font-family: Roboto;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
}

.contacts__shedule {
  color: inherit;
  opacity: .7;
  font-size: 14px;
  font-weight: 700;
  text-decoration: underline;
}

.topnav {
  position: relative;
  height: 330px;
}

.page {
  display: inline-block;
  vertical-align: top;
}

.page {
  width: 700px;
}

.sidebar {
  position: absolute;
  display: block;
  top: 25px;
  min-width: 200px;
  min-height: 200px;
}

.menu {
  position: absolute;
  left: -20px;
}

.menu__list:last-child {
  margin-bottom: 0;
}

.menu__item {
  list-style-type: none;
  margin-bottom: 15px;
}

.menu__text {
  font-size: 12px;
  letter-spacing: 2.4px;
  font-weight: bold;
  text-transform: uppercase;
  color: #4b73b5;
  text-decoration: none;
  display: inline-block;
}

.menu__item:first-child {
  color: #221f1f;
}

.menu__text:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 18px;
  background: no-repeat center center;
  margin-right: 20px;
}

.menu__text:hover {
  color: #221f1f;
}

.menu__text--icon--main:before {
  background-image: url('./img/icons/menu/main_icon.png'); 
}

.menu__text--icon--main:hover:before {
  background-image: url('./img/icons/menu/main_icon-hover.png'); 
}

.menu__text--icon--feed:before {
  background-image: url('./img/icons/menu/feed_icon.png'); 
}

.menu__text--icon--feed:hover:before {
  background-image: url('./img/icons/menu/feed_icon-hover.png'); 
}

.menu__text--icon--team:before {
  background-image: url('./img/icons/menu/team_icon.png'); 
}

.menu__text--icon--team:hover:before {
  background-image: url('./img/icons/menu/team_icon-hover.png'); 
}

.airplanet {
  position: absolute;
  top: 13px;
  right: 0;
  font-size: 0;
  width: 900px;
  max-width: 100%;
}

.maincontent {
  position: relative;
}

.announces, .news {
  position: relative;
}

.news__header, .announces__header {
  position: relative;
  display: inline-block;
  margin: 0 500px 50px 0;
  left: 200px;
  font-size: 50px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
}

.announces-list {
  position: relative;
  display: inline-block;
  left: 170px;
  margin-bottom: 70px;
}

.announces-list__item {
  position: relative;
  display: inline-block;
  text-align: center;
  margin-right: 8px;
  max-width: 250px;
  vertical-align: top;
}

.announces-list__item:last-child {
  margin-right: 0;
}

.announce-icon-bg {
  position: relative;
  top: 41px;
  background: #4c73b6;
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 50px;
}

.announce-icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.announce-title {
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 3px;
}

.announce__dollar {
  font-size: 34px;
  font-weight: 400;
  color: #202020;
  line-height: 180px;
}

.price {
  font-size: 65px;
  font-weight: 400;
  letter-spacing: -1.07px;
  line-height: 173.58px;
}

.announce-border {
  border: 1px solid gray;
  border-radius: 5px;
}

.news-list {
  position: relative;
  display: inline-block;
}

.news-list__item {
  position: relative;
  display: inline-block;
  list-style-type: none;
  margin-bottom: 50px;
}

.news-list__item:last-child {
  margin-bottom: 0;
}

.news-list__avatar {
  position: relative;
  display: inline-block;
  left: 160px;
}

.news-list__photo {
  position: relative;
}

.news-list__desc {
  position: relative;
  display: inline-block;
  max-width: 700px;
  left: 170px;
}

.pagination {
  position: relative;  
  
}

.pagination__list {
  display: inline-block;
  position: relative;
  left: 400px;
  margin: 0;
}

.pagination__items {
  display: inline-block;
  position: relative;
  margin: 0 0 50px;
  padding: 0;
  left: 30px;
  top: 12px;
}  

.pagination__text {
  display: inline-block;
  position: relative;
} 

.pagination__item {
  display: inline-block;
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 1em;
  font-size: 14px;
  font-weight: 700;
}

.pagination__item-link {
  color: #000;
  text-decoration: none;
}

.pagination_item-text {
  display: inline-block;
  position: absolute;
  line-height: 1;
}

.pagination__item--active {
  background-color: #4b73b5;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.footer {
  background: #4c73b6;
  color: #fff;
}

.footer__container {
  position: relative;
  height: 90px;
}

.about {
  position: absolute;
  font-size: 14px;
  vertical-align: middle;
  left: 30px;
  top: 14px;
  width: 300px;
}

.socials {
  position: absolute;
  display: inline-block;
  right: 100px;
  vertical-align: middle;
}

.footer__logo {
  position: absolute;
  vertical-align: middle;
  display: inline-block;
  left: 490px;
  top: 20px;
  font-size: 0;
}

.socials__title {
  font-size: 16px;
  font-weight: 700;
  top: 20px;
  right: 20px;
}

.socials__list {
  display: inline-block;
  vertical-align: middle;
}

.socials__item {
  list-style-type: none;  
}

.socials__text {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: no-repeat center center;
}

.socials__text--icon--mail:before {
  background-image: url('./img/socials/mail.png');
}
