@import url('./layout/base.css');
@import url('./layout/header.css');

.contacts {
  position: absolute;
  top: 16px;
  right: 21px;
  text-align: right;
  font-style: normal;
}

.contacts__phone {
  color: inherit;
  text-decoration: none;
  font-family: Roboto;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
}

.contacts__shedule {
  color: inherit;
  opacity: .7;
  font-size: 14px;
  font-weight: 700;
  text-decoration: underline;
}

.topnav {
  display: flex;
  position: relative;
}

.page {
  display: inline-block;
  vertical-align: top;
}

.page {
  width: 700px;
}

.sidebar {
  position: relative;
  display: block;
  top: 25px;
  min-width: 200px;
  min-height: 200px;
}

.menu {
  position: absolute;
  left: -20px;
}

.menu__list:last-child {
  margin-bottom: 0;
}

.menu__item {
  list-style-type: none;
  margin-bottom: 15px;
}

.menu__text, .menu__text--active {
  font-size: 12px;
  letter-spacing: 2.4px;
  font-weight: bold;
  text-transform: uppercase;
  color: #4b73b5;
  text-decoration: none;
  display: inline-block;
}

.menu__text--active {
  color: #221f1f;
}

.menu__text:before, .menu__text--active:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 18px;
  background: no-repeat center center;
  margin-right: 20px;
}

.menu__text:hover {
  color: #221f1f;
}

.menu__text--icon-main:before {
  background-image: url('./img/icons/menu/main_icon.png'); 
}

.menu__text--icon-main:hover:before {
  background-image: url('./img/icons/menu/main_icon-hover.png'); 
}

.menu__text--icon-feed:before {
  background-image: url('./img/icons/menu/feed_icon.png'); 
}

.menu__text--icon-feed:hover:before {
  background-image: url('./img/icons/menu/feed_icon-hover.png'); 
}

.menu__text--icon-team:before {
  background-image: url('./img/icons/menu/team_icon.png'); 
}

.menu__text--icon-team:hover:before {
  background-image: url('./img/icons/menu/team_icon-hover.png'); 
}

.airplanet {
  position: relative;
  top: 13px;
  right: 0;
}

.maincontent {
  position: relative;
}

.announces, .news {
  position: relative;
}

.comments {
  display: flex;
}

.news__header, .announces__header {
  position: relative;
  display: inline-block;
  margin: 0 500px 50px 0;
  left: 200px;
  font-size: 50px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
}

.announces-list {
  position: relative;
  display: inline-block;
  left: 170px;
  margin-bottom: 70px;
}

.announces-list__item {
  position: relative;
  display: inline-block;
  text-align: center;
  margin-right: 8px;
  max-width: 250px;
  vertical-align: top;
}

.announces-list__item:last-child {
  margin-right: 0;
}

.announce-icon-bg {
  position: relative;
  top: 41px;
  background: #4c73b6;
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 50px;
}

.announce-icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.announce-text p {
  font-size: 18px;
  font-weight: 300;
}

.announce-text ul li {
  list-style-type: disc;
}

.announce-text h2 {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 3px;
}

.announce-dollar {
  font-size: 34px;
  font-weight: 400;
  color: #202020;
  line-height: 180px;
}

.announce-price {
  font-size: 65px;
  font-weight: 400;
  letter-spacing: -1.07px;
  line-height: 173.58px;
}

.announce-border {
  border: 1px solid gray;
  border-radius: 5px;
}

.news-list {
  position: relative;
  display: inline-block;
}

.news-list__item {
  position: relative;
  display: inline-block;
  list-style-type: none;
  margin-bottom: 50px;
}

.news-list__item:last-child {
  margin-bottom: 0;
}

.news-list__avatar {
  position: relative;
  display: inline-block;
  left: 160px;
}

.news-list__photo {
  position: relative;
}

.news-list__desc {
  position: relative;
  display: inline-block;
  max-width: 700px;
  left: 170px;
}

.pagination {
  display: flex;  
  justify-content: center;
  
}

.pagination__list {
  display: flex;
  justify-content: center;
  left: 400px;
  margin: 0;
}

.pagination__items {
  display: flex;
  justify-content: center;
  height: 100%;
  margin: 0 0 50px;
}  

.pagination__text {
  font-size: 14px;
  font-weight: 300;
  margin: 4px auto;
} 

.pagination__item, .pagination__item--active {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 25px;
  height: 25px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 700;
}

.pagination__item-link {
  color: #000;
  text-decoration: none;
}

.pagination__item--active {
  background: #4b73b5;
  color: white;
}

.pagination__item:hover:not(.active) {background-color: #4b73b5;}

.footer {
  position: relative;
  background: #4c73b6;
  color: #fff;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 90px;
}

.footer__about {
  position: relative;
  font-size: 14px;
  vertical-align: middle;
  left: 30px;
  top: 14px;
  width: 300px;
}

.footer__logo {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  top: 20px;
  font-size: 0;
}

.footer__socials {
  display: flex;
  position: relative;
  flex-direction: column;
  top: 20px;
  right: 20px;
  min-width: 200px;
  vertical-align: middle;
}

.socials__title {
  display: flex;
  position: relative;
  justify-content: flex-end;
  font-size: 14px;
  font-weight: 700;
}

.socials__list {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin: 0;
}

.socials__item {
  display: inline-block;
  position: relative;
  overflow: hidden;
  list-style-type: none; 
  background: #fff;
  border-radius: 50%; 
  width: 20px;
  height: 20px;
}

.socials__icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.breadcrumbs {
  display: flex;
  margin-top: 40px;
}

.breadcrumbs__item, .breadcrumbs__divider {
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
}

.breadcrumbs__link--active {
  text-decoration: none;
  color: #221f1f;
} 

.comments__header {
  position: relative;
  display: inline-block;
  font-size: 50px;
  margin: 0 0 0 40px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
}

.comments__item {
  display: flex;
  position: relative;
  justify-content: flex-start;
}

.comments__item-avatar {
  margin: 0 20px 0 0;
}

.comments__item__desc {
  margin-right: 20px;
  font-size: 18px;
}

.comments__item__desc p {
}