html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.wrapper__content {
  flex: 1;
}

body {
    font: 16px/1.42 "roboto", Arial, Helvetica, sans-serif;
    margin: 0;
    -webkit-font-smoothing: antialiased;
  }
  
  h3, p, time {
    position: relative;
    display: block;
    margin: 0;
    line-height: 1.62;
  }
  
  ul li{
    list-style: none;
  }
 
.container, .topnav {
  width: 1100px;
  margin: 0 auto;
}

