.header {
    display: flex;
    justify-content: space-between;
    background: #4c73b6;
    color: #fff;
    margin-bottom: 0;
}

.header__container {
    display: flex;
    justify-content: space-between;
    min-height: 77px;
    align-items: center;
}

.header__logo {
    box-sizing: border-box;
    padding-left: 20px;
    padding-top: 6px;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 20px;
    font-style: normal;
}

.contacts__phone {
    color: inherit;
    text-decoration: none;
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
}

.contacts__shedule {
    position: relative;
    color: inherit;
    opacity: .7;
    font-size: 14px;
    font-weight: 700;
    line-height: 15px;
    text-decoration: underline;
}

.contacts__shedule:hover {
    cursor: pointer;
}